body{
    margin-top: 75px;
}
@media (min-width: 768px){
    .group2{
        text-align: right;
    }
}

@media(max-width: 600px){
    .facet_sidebar{
        display: none;
    }
}
footer{
    margin: 10px 0;
}